.vs/
.vscode/
*.pdf
*.aux
Sections/*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.synctex
*.fls
main.fdb_latexmk
main.run.xml
*.lol