# Editor config
.vs/
.vscode/

# LaTeX auxiliary files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.synctex
*.fls
*.fdb_latexmk
*.run.xml
*.lol
*-blx.bib

# Default PDF
main.pdf